body {
    display: flex; 
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#212121;
    color: white;
}

header {
    background-color:  #FF6F00;
    color: white;
    padding: 10px 0;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #E96346;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    color: #FFC107;  
}

h1 {
    font-size: 40px;
}

#counter {
    font-size: 80px;
    color: black
}

#pesquisa, #selectEscola{
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 8px;
    width: 50%;
    box-sizing: border-box;
}

#resultadoBusca .jogador{
    margin-left: 30%;
    margin-bottom: 12px;
    padding: 2px;
    width: 50%;
    box-sizing: border-box;
}

button {
    background-color: #FF6F00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

table {
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    border-radius: 10px; 
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #424242;  
}

th {
    background-color: #FF6F00;  
    color: white;  
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #212121; 
    color: white;  
}

tr:nth-child(even) {
    background-color: #424242; 
}

tr:hover {
    background-color: #FF6F00;  
    transition: background-color 0.3s ease;
}






