body {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove a margem padrão */
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: orange;
    background-size: cover; /* Para cobrir toda a tela */
}

h1 {
    font-size: 40px;
}

#counter {
    font-size: 80px;
    color: black
}

button {
    padding: 4px 8px;
    font-size: 12.5px;
    margin-top: 20px;
    border-radius: 15px;
}

a {
    color: #800000;
}