body {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0; /* Remove a margem padrão */
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(basquete.jpg);
    background-size: cover; /* Para cobrir toda a tela */
}

h1 {
    font-size: 85px;
}

#counter {
    font-size: 80px;
    margin: 20px;
    color: black
}

button {
    padding: 8px 16px;
    font-size: 12.5px;
    margin-top: 20px;
    border-radius: 15px;
}

a {
    color: #800000;
}

#jogadores{
    margin: 20px;
}